/*!
 * AngularJS 重载
 */
.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.ng-pristine.ng-pristine {

}

/*!
 * Bootstrap 重载
 */
.form-control {
    width: auto;
    display: inline-block;
    border-radius: 0px;
}

.form-control:focus {
    box-shadow: none;
}

.form-group {
    margin-bottom: 8px;
}

.btn {
    border-radius: 0px;
}

.modal {
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0);
    border: 0px solid #999999;
}

.panel {
    border-radius: 0px;
}

.required {
    color: #FF0000;
}

.row {
    margin: 0px;
}

.container-fluid {
}

.panel .panel-heading {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dcdcdc;
    line-height: 30px;
}

.field-validation-error {
    line-height: 30px;
    text-indent: 10px;
    display: inline-block;
    text-decoration: none;
    color: #FF0000;
}

legend {
    cursor: pointer;
}

legend.show span {
    font-size: 16px;
    font-family: Arial, 微软雅黑, 黑体;
    text-decoration: none;
    line-height: 2em;
    color: #008000;
    cursor: pointer;
}

.control-label {
    font-weight: normal;
    font-size: 15px;
    font-family: Arial, 微软雅黑, 黑体;
}

.validation-summary-errors {
    margin: 10px;
    border: 1px solid #FF9900;
    background-color: #ffffcc;
    line-height: 25px;
    padding: 5px;
}

.errors {
    display: inline-block;
    color: #FF9900;
    line-height: 25px;
    padding: 5px;
}

.navbar {
    border-width: 0px;
    color: #FFFFFF;
    margin-bottom: 15px;
    font-family: Arial, 微软雅黑, 黑体;
    font-size: 16px;
    border-radius: 0px;
}

.navbar-default {
    background-color: #488fbc;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-nav a {
    color: #FFFFFF;
    text-decoration: none;
}

.navbar-nav a:hover {
    color: #008000;
    text-decoration: none;
    background-color: #FF9900;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar-inverse .navbar-text {
    color: #FFFFFF;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0px 0px 0 0;
}

.table thead th {
    font-family: Arial, 微软雅黑, 黑体;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    background-color: #f1f1f1;
    line-height: 30px;
}

/*!
 * 常用辅助
 */
.breadcrumb {
    margin-bottom: 10px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.clearRow {
    margin-right: 0px;
    margin-left: 0px;
}

.clear {
    clear: both;
}

.line-top {
    border-top-color: #f0f0f0;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 5px;
}

.line-bottom {
    border-bottom-color: #f0f0f0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 5px;
}

.thumbnail {
    height: 100px;
    width: 100px;
    display: inline-block;
}

#message {
    padding: 5px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    display: none;
    bottom: 0px;
    left: 10px;
    right: 10px;
    bottom: 0px;
}

span.a {
    cursor: pointer;
}

/*!
 * 系统布局
 */
.page {
    background-color: #f2f2f2;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 500px;
}

.page-header {
    height: 70px;
    margin: 0px;
    padding: 0px;
    border-bottom: 0px;
    min-width: 900px;
}

.page-header-top {
    height: 30px;
}

.page-header-top-logo {
    text-align: center;
    font-family: 微软雅黑, Arial, 黑体;
    width: 180px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-top: 5px;
    padding-left: 60px;
}

.page-header-top-nav {
    position: absolute;
    text-align: center;
    top: 0px;
    right: 10px;
    height: 30px;
    line-height: 30px;
}

.page-header-nav {
    height: 40px;
    background-color: #3c8dbc;
}

.page-header-nav-user {
    padding-left: 60px;
    line-height: 40px;
    text-align: left;
    height: 40px;
    background-color: #367fa9;
    width: 180px;
    color: #ffffff;
}

.page-header-nav-user-img {
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    background-color: #ffffff;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-width: 4px;
    border-color: #000000;
    border-style: solid;
    -moz-border-radius: 5px 5px 5px 5px; /* Gecko browsers */
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #ffffff;
}

.page-header-nav-user img {
    position: absolute;
    top: 5px;
    left: 10px;
    height: 50px;
    width: 50px;
}

.page-header-nav-menu {
    position: absolute;
    top: 30px;
    left: 200px;
    float: left;
    line-height: 40px;
}

.page-header-nav-menu a {
    color: #ffffff;
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 15px;
}

.page-header-nav-menu a:HOVER {
    color: #31464b;
}

.page-header-nav-menu a.active {
    background-color: #222d32;
    color: #ffffff;
}

.page-header-nav-search {
    height: 30px;
    position: absolute;
    float: right;
    right: 0px;
    top: 30px;
    text-align: right;
    padding: 0px;
    margin: 5px;
}

.page-header-nav-search input[type=text] {
    height: 30px;
    width: 200px;
    position: relative;
    float: left;
    background-color: #f2f2f2;
    border-width: 1px;
    border-color: #bbbbbb;
    border-style: solid;
    color: #4d5f85;
    padding: 5px;
}

.page-header-nav-search input[type=submit] {
    height: 30px;
    width: 50px;
    position: relative;
    float: left;
    text-align: center;
    background-color: #4d5f85;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #bbbbbb;
    text-align: center;
    color: #ffffff;
}

.page-header-nav-search input[type=submit]:HOVER {
    background-color: #5f6f91;
}

.page-content {
    min-height: 500px;

}

.page-content-side {
    width: 180px;
    background-color: #222d32;
    min-height: 500px;
    position: relative;
    top: 70px;
    bottom: 0px;
    float: left;
    position: absolute;
}

.page-content-side-nav {
    color: #fefefe;
    text-align: left;
    padding-left: 20px;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    /*border-left-color: #ff8000;*/
    /*border-left-width: 3px;*/
    /*border-left-style: solid;*/
    border-bottom-color: #3c8dbc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 16px;
}

.page-content-side-menu {
    border-top-color: #222d32;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 35px;
    margin-bottom: 20px;
    -moz-border-radius: 5px; /* Gecko browsers */
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.page-content-side a {
    padding-left: 10px;
    margin-bottom: 5px;
    display: block;
    color: #f2f2f2;
}

.page-content-side a:HOVER {
    color: #31464b;
    background-color: #f2f2f2;
    -moz-border-radius: 2px; /* Gecko browsers */
    -webkit-border-radius: 2px;
    border-radius: 2px 0px 0px 2px;
}

.page-content-side a.active {
    color: #4d5f85;
    background-color: #fefefe;
    -moz-border-radius: 2px; /* Gecko browsers */
    -webkit-border-radius: 2px;
    border-radius: 2px 0px 0px 2px;
}

.page-content-side hr {
    border-top-color: #5f6f91;
    border-top-width: 1px;
    border-top-style: solid;
}

.page-content-side-hint {
    line-height: 30px;
    background-color: #5f6f91;
    position: absolute;
    bottom: 0px;
    width: 180px;
    padding-left: 15px;
    color: #ffffff;
}

.page-content-side-hint a {
    color: #ffffff;
}

.page-content-side-hint a:HOVER {
    color: #336699;
}

.page-content-area {
    width: auto;
    padding: 5px;
    margin: 0px 0px 0px 190px;
    background-color: #FFFFFF;

}

.page-content .page-list {
    padding: 5px;
}

.page-content .page-list-search {
    margin-bottom: 10px;
    border-bottom-color: #e1e1e1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 10px;
}

.page-content .page-list-search .input-group {
    padding-bottom: 10px;
}

.page-content .page-input {
    padding-bottom: 10px;
}

.page-content .page-input .page-input-btn {
    padding-bottom: 5px;
    border-bottom-color: #e1e1e1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e1e1e1;
}

.page-content .page-input .page-input-content {
    padding: 5px;
}

.page-content .page-input .page-input-content .control-label {
    min-width: 100px;
    max-width: 200px;
    color: #747474;
}

.page-footer {
    line-height: 40px;
    text-align: center;
    display: block;
    color: #c0c0c0;
    display: none;
    bottom: 0px;
    left: 0px;
    background-color: #f3f3f3;
    right: 0px;
    bottom: 0px;
}

/*!
 * 列表页
 */
.page-list {
    padding: 5px;
}

.page-list-header {
    margin-bottom: 10px;
}

.page-list-header .input-group {
    padding-bottom: 10px;
}

.page-list-body {
    padding-bottom: 5px;
}

.page-list-body-btn {
    padding-bottom: 5px;
    border-bottom-color: #e1e1e1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e1e1e1;
}

.page-list-body .control-label {
    min-width: 100px;
    max-width: 200px;
    color: #747474;
}

.page-list-footer {

}

/*!
 * 新增编辑页
 */
.page-input {
    background-color: #FFFFFF;
}

.page-input-header {
    padding-bottom: 10px;
    margin-left: 10px;
}

.page-input-body {
    padding-bottom: 5px;
}

.page-input-body .control-label {
    min-width: 100px;
    max-width: 200px;
    color: #747474;
}

.page-input-footer {

}

.page-login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    margin: -15% 0 0 -25%;
}